.App {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  margin: 8rem auto 0;
}

.card {
  position: absolute;
}

.card-image {
  width: 100%;
  height: auto;
}
